:root {
    --bg: gainsboro;
    --bg2: white;
    --fg: #222222;
}
* {
    box-sizing: border-box;
    color: var(--fg);
    font: 14px sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
}
/* Allgemein */
p {
    line-height: 24px;
}
h1 {
    font-size: 2.2em;
    font-weight: bold;
}
h2 {
    font-size: 1.1em;
    font-weight: bold;
}
button {
    background: var(--bg);
    border: none;
    height: 24px;
}
button:hover {
    cursor: pointer;
}
button:disabled {
    background: var(--bg2);
    border: 1px solid var(--bg);
    color: var(--bg);
    cursor: not-allowed;
}
button .tooltip {
    background-color: var(--bg);
    display: none;
    margin: -24px 0 0 130px;
    padding: 5px;
    position: absolute;
    text-align: left;
    z-index: 1;
}
button:hover .tooltip {
    display: block;
}
button .tooltip:hover {
    display: none;
}
.btn_dwn_up {
    width: 24px;
}
.num {
    text-align: right;
    width: 30px;
}
ul {
    list-style-position: inside;
}
dialog {
    border: 2px solid var(--bg);
    margin: auto;
    padding: 20px;
}
.table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}
.thead {
    display: table-header-group;
}
.tbody {
    display: table-row-group;
}
.tr {
    display: table-row;
}
.tr[hidden="hidden"] {
    display: none;
}
.th, .td {
    display: table-cell;
    vertical-align: middle;
}
.td {
    height: 36px;
}
.th{
    font-weight: bold;
    height: 28px;
    text-align: left;
}
.coming_soon {
    background: var(--bg);
    font-size: 70px;
    height: 90px;
    text-align: center;
}
/* Body */
body {
    background: var(--bg);
    margin: auto;
    max-width: 1000px;
    min-width: 800px;
}
/* ->Main */
main:after {
    clear: both;
    content: "";
    display: block;
}
/* ->->Header */
.header {
    background: var(--bg2);
    height: 50px;
    padding: 5px;
    text-align: center;
}
/* ->->Left */
.left {
    float: left;
    margin-top: 5px;
    width: calc(100% - 255px);
}
/* ->->->nav */
.nav {
    background: var(--bg2);
    padding: 5px;
    text-align: center;
}
.nav button {
    background: none;
    height: 32px;
    width: 86px;
}
.nav .selected {
    background: var(--bg);
}
/* ->->->content */
.content {
    background: var(--bg2);
    margin-top: 5px;
    overflow: auto;
    padding: 5px;
}
.btn_content {
    height: 32px;
    width: 130px;
}
.btn_craft {
    height: 32px;
    width: 100%;
}
.coll_craft {
    border: 1px solid var(--bg);
}
.coll_craft.m {
    margin-top: 5px;
}
.content_craft {
    padding: 5px;
}
.row_craft:after {
    clear: both;
    content: "";
    display: block;
}
.row_craft > * {
    float: left;
}
#travel .td:last-child > * {
    float: left;
}
/* ->->->left_bottom */
.left_bottom {
    margin-top: 5px;
}
.left_bottom:after {
    clear: both;
    content: "";
    display: block;
}
.tasks, .phase {
    background: var(--bg2);
    float: left;
    height: 80px;
    padding: 5px;
    width: calc((100% - 5px) / 2);
}
.tasks .td:first-child {
    cursor: pointer;
}
.phase {
    margin-left: 5px;
}
.phase div {
    float: left;
    padding: 0 5px;
}
.phase div:first-child {
    border-right: 5px solid var(--bg);
}
/* ->->->bottom */
.bottom {
    margin-top: 5px;
}
.msg {
    background: var(--bg2);
    height: 220px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.msg .overlay {
    background: linear-gradient(transparent, var(--bg2));
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.msg p {
    height: 28px;
}
/* ->->Right */
.right {
    float: left;
    height: calc(100vh - 55px);
    margin: 5px 0 0 5px;
    overflow: auto;
    width: 250px;
}
.right h2 {
    cursor: pointer;
}
.right > :first-child {
    margin: 0;
}
.right .td {
    display: inline-block;
    height: 28px;
}
.right .td:nth-child(2) {
    float: right;
}
.right .td:nth-child(2) > * {
    float: left;
}
/* ->->->villagers, jobs, supplies, items */
.villagers, .jobs, .supplies, .items {
    background: var(--bg2);
    margin-top: 5px;
    padding: 5px;
}
.right p {
    height: 24px;
}
/* Switch */
.isDark {
    height: 30px;
    visibility: hidden;
    width: 60px;
}
.switch {
    background: var(--bg);
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    margin-left: -60px;
    position: absolute;
    width: 60px;
}
.switch .slider {
    background: var(--bg2);
    border-radius: 50%;
    height: 26px;
    left: 2px;
    position: relative;
    top: 2px;
    transition: .2s;
    width: 26px;
}
/* Slider */
.speed {
    appearance: none;
    -webkit-appearance: none;
    background: var(--bg);
    border-radius: 15px;
    height: 30px;
    margin: 2px 0;
    width: 90%;
}
.speed::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: var(--bg2);
    border: 2px solid var(--bg);
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
#lbl_speed {
    display: inline-block;
    vertical-align: super;
    width: 26px;
}
/* Mobile */
.btn_mobile {
    display: none;
}
@media only screen and (max-width: 400px) {
    * {
        font-size: 12px;
    }
    body {
        max-width: unset;
        min-width: unset;
    }
    .header {
        height: 30px;
    }
    h1 {
        font-size: 20px;
    }
    .left {
        width: 100%;
    }
    .content {
        height: 210px;
    }
    .tasks, .phase {
        width: 100%;
    }
    .phase {
        margin: 5px 0 0 0;
    }
    .btn_mobile {
        display: inline-block;
        width: 90% !important;
    }
    .right {
        height: unset;
        margin-left: 0;
        width: 100%;
    }
    .villagers, .jobs, .supplies, .items {
        margin-top: 0;
    }
    .msg {
        height: 100px;
    }
}
