:root {
    --bg: gainsboro;
    --bg2: white;
    --fg: #222222;
}
* {
    background: none;
    border: none;
    color: var(--fg);
    font: 14px sans-serif;
    margin: 0;
    padding: 0;
}
/* Allgemein */
p {
    box-sizing: border-box;
    line-height: 24px;
}
button {
    border: 1px solid var(--fg);
}
button:hover {
    cursor: pointer;
}
button:disabled {
    border-color: var(--bg);
    color: var(--bg);
    cursor: not-allowed;
}
.num {
    //border: 1px solid var(--fg);
    height: 24px;
    text-align: right;
    width: 30px;
}
.in {
    border: 1px solid var(--fg);
    padding: 5px;
    width: 50px;
}
ul {
    list-style-position: inside;
}
table {
    border-collapse: collapse;
}
table th{
    font-weight: bold;
    text-align: left;
}
button .tooltip {
    background-color: var(--bg);
    display: none;
    margin: -24px 0 0 124px;
    padding: 5px;
    position: absolute;
    text-align: left;
    z-index: 1;
}
button:hover .tooltip {
    display: block;
}
button .tooltip:hover {
    display: none;
}
.btn_dwn_up {
    height: 24px;
    padding: 0;
    width: 24px;
}
/* Body */
body {
    background: var(--bg);
    margin: auto;
    max-width: 1000px;
    min-width: 800px;
}
/* Start */
.start {
    background: var(--bg2);
    bottom: 0;
    height: 300px;
    left: 0;
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}
.start .btn_start {
    padding: 5px;
}
/* Main */
.main:after {
    clear: both;
    content: "";
    display: block;
}
/* Header */
.header {
    background: var(--bg2);
    height: 40px;
    padding: 5px;
    text-align: center;
}
h1 {
    font-size: 30px;
}
/* Left */
.left {
    float: left;
    width: calc(100% - 255px);
}
.nav {
    background: var(--bg2);
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}
.nav button {
    border: none;
    border-bottom: 1px solid var(--fg);
    height: 32px;
    padding: 5px;
    width: 90px;
}
.btn_content {
    height: 32px;
    width: 130px;
}
.btn_craft {
    border: none;
    height: 32px;
    padding: 5px;
    width: 100%;
}
.coll_craft.m {
    margin-top: 5px;
}
.content_craft {
    padding: 5px;
}
.row_craft:after {
    clear: both;
    content: "";
    display: block;
}
.row_craft > * {
    float: left;
}
.btn_options {
    height: 32px;
    padding: 5px;
    width: 90px;
}
.content {
    background: var(--bg2);
    height: calc(100vh - 412px);
    margin-top: 5px;
    overflow: auto;
    padding: 5px;
}
.content div {
    position: relative;
}
.left_bottom {
    margin-top: 5px;
}
.left_bottom:after {
    clear: both;
    content: "";
    display: block;
}
.tasks, .phase {
    background: var(--bg2);
    float: left;
    height: 70px;
    padding: 5px;
    width: calc((100% - 25px) / 2);
}
.tasks td:first-child {
	cursor: pointer;
}
.phase {
    margin-left: 5px;
}
.phase div {
	padding: 0 5px;
}
.phase div:first-child {
    border-right: 5px solid var(--bg);
}
.left table {
    width: 100%;
}
.coll_craft {
    border: 1px solid var(--fg);
}
/* Right */
.right {
    float: left;
    height: calc(100vh - 50px);
    margin-left: 5px;
    overflow: auto;
    width: 250px;
}
.supplies, .items, .villagers, .jobs {
    background: var(--bg2);
    margin-top: 5px;
    padding: 5px;
}
.row, .right p {
    height: 24px;
}
.row p:first-child {
    float: left;
}
.row p:nth-child(even) {
    float: right;
}
.jobs .row div > * {
    float: left;
}
.jobs .row p:nth-child(even) {
    float: left;
}
.jobs .row div:first-child {
    width: calc(100% - 78px);
}
.jobs .row div:last-child {
    float: right;
}
.th {
    font-weight: bold;
}
/* bottom */
.bottom {
    margin-top: 5px;
}
.msg {
    background: var(--bg2);
    height: 200px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.msg .overlay {
    background: linear-gradient(transparent, var(--bg2));
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.msg p {
    height: 24px;
}
/*------Toggle----------*/
.switch {
    display: inline-block;
    height: 32px;
    position: relative;
    width: 60px;
}
.switch input {
    display:none;
}
.slider {
    border: 1px solid var(--fg);
    border-radius: 34px;
    cursor: pointer;
    height: 30px;
    position: absolute;
    transition: .2s;
    width: 58px;
}
.slider:before {
    border: 1px solid var(--fg);
    border-radius: 50%;
    bottom: 3px;
    content: "";
    height: 22px;
    left: 3px;
    position: absolute;
    transition: .2s;
    width: 22px;
}
input:checked + .slider:before {
    transform: translateX(28px);
}
/* Mobile */
.btn_mobile {
    display: none;
}

@media only screen and (max-width: 400px) {
    * {
        font-size: 12px;
    }
    body {
        max-width: unset;
        min-width: unset;
    }
    .header {
        height: 20px;
    }
    h1 {
        font-size: 20px;
    }
    .left {
        width: 100%;
    }
    .content {
        height: 210px;
    }
    .tasks, .phase {
        width: calc(100% - 10px);
    }
    .phase {
        margin: 5px 0 0 0;
    }
    .btn_mobile {
        display: inline-block;
        width: 90% !important;
    }
    .right {
        height: unset;
        margin-left: 0;
        width: 100%;
    }
    .jobs .row div:first-child {
        width: calc(100% - 85px);
    }
    .villagers, .jobs, .supplies, .items {
        margin-top: 0;
    }
    .msg {
        height: 90px;
    }
}
