:root {
    --bg: lightgray;
    --bg2: white;
    --fg: #222222;
}
* {
    background: none;
    border: none;
    color: var(--fg);
    font: 14px sans-serif;
    margin: 0;
    padding: 0;
}
/* Allgemein */
button:disabled {
    border-color: var(--bg) !important;
    color: var(--bg);
}
ul {
    list-style-position: inside;
}
table {
    border-collapse: collapse;
}
table th{
    font-weight: bold;
    text-align: left;
}
table td:last-child {
    width: 90px;
}
/* Body */
body {
    background: var(--bg);
    margin: auto;
    width: 900px;
}
/* Main */
#main:after {
	clear: both;
	content: "";
	display: table;
}
/* Header */
#header {
	background: var(--bg2);
	height: 40px;
	padding: 10px;
	text-align: center;
}
#header h1 {
	font-size: 30px;
}
/* Left */
#left {
	float: left;
	width: 650px;
}
#left #nav {
	background: var(--bg2);
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
#left button {
    border-bottom: 1px solid var(--fg);
	height: 32px;
    padding: 5px;
	width: 90px;
}
#left #content {
	background: var(--bg2);
    height: 360px;
	margin-top: 10px;
	padding: 10px;
    overflow: auto;
}
#left table {
	width: 100%
}
#left #activities {
	background: var(--bg2);
    height: 100px;
	margin-top: 10px;
	padding: 10px;
}
#left #content button {
    border: 1px solid var(--fg);
    border-radius: 5px;
}
/* Right */
#right {
	float: left;
	margin-left: 10px;
	width: 240px;
}
#right #resources {
	background: var(--bg2);
	margin-top: 10px;
	padding: 10px;
}
#right #villagers {
	background: var(--bg2);
	margin-top: 10px;
	padding: 10px;
}
#right #jobs {
	background: var(--bg2);
	margin-top: 10px;
	padding: 10px;
}
#right #row {
	clear: both;
	content: "";
	display: flow-root;
}
#right #row p:first-child {
	float: left;
}
#right #row p:nth-child(even) {
	float: right;
}
#right #jobs #row p:nth-child(even) {
	position: relative;
	right: 40px;
}
#right #jobs #row div {
	float: right;
	position: relative;
	right: -10px;
}
#right #jobs button {
    border: 1px solid var(--fg);
    border-radius: 5px;
    height: 20px;
    width: 20px;
}
#right #th {
    font-weight: bold;
}
#right table td {
	height: 30px;
	vertical-align: top;
}
/* bottom */
#bottom {
	margin-top: 10px;
}
#bottom:after {
	clear: both;
	content: "";
	display: table;
}
#bottom #msg {
	background: var(--bg2);
	float: left;
	height: 280px;
	overflow: hidden;
	padding: 10px;
	width: 425px;
}
#bottom #info {
	background: var(--bg2);
	float: left;
	height: 280px;
	margin-left: 10px;
	padding: 10px;
	width: 425px;
}
#bottom #msg p, #bottom #info p {
    height: 24px;
}
#phase p {
    border: 1px solid var(--fg);
    float: left;
    width: 40px;
}
/*------Toggle----------*/
#switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
#switch input {
    display:none;
}
#slider {
    background-color: var(--bg);
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s;
}
#slider:before {
    background-color: var(--bg2);
    border-radius: 50%;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .2s;
    width: 26px;
}
input:checked + #slider:before {
    background-color: var(--bg2);
    transform: translateX(26px);
}